// --------------------------------------------------------------------------- *
// Typography
// --------------------------------------------------------------------------- *

body {
    font-family: $font-body;
    font-size: $font-size;
    color: $color-purple;
    line-height: $line-height-body;
}
