// --------------------------------------------------------------------------- *
// Placeholders
// --------------------------------------------------------------------------- *


// Pseudo elements
// -----------------------------------------------------------------------------

%before-after-base {
  position: absolute;
  content: " ";
  z-index: 9;
  display: block;
}