// --------------------------------------------------------------------------- *
// Base styles
// --------------------------------------------------------------------------- *

// Colours
// -----------------------------------------------------------------------------

$color-purple: #5e4378;
$color-pink: #e54165;


// Fonts
// -----------------------------------------------------------------------------

$font-body:                             Arial, sans-serif;
$font-size:                             16px;
$line-height-body:                      1.333;


// Box Sizing Grid
// -----------------------------------------------------------------------------

$container-width:                       1500px;
$column-width:                          125px;
$gutter:                                0;
